CommunityCourses.Web.Tests/bin
CommunityCourses.Web.Tests/obj
CommunityCourses.Web/bin
CommunityCourses.Web/obj
CommunityCourses.Data/bin
CommunityCourses.Data/obj
TestResults
*.user
*.suo
*.sln.cache
