USE [StudentTracking]
GO
/****** Object:  Table [dbo].[Ethnicity]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ethnicity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Ethnicity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Ethnicity] ON
INSERT [dbo].[Ethnicity] ([Id], [Name]) VALUES (1, N'White British')
INSERT [dbo].[Ethnicity] ([Id], [Name]) VALUES (2, N'White Irish')
INSERT [dbo].[Ethnicity] ([Id], [Name]) VALUES (3, N'White Scottish')
SET IDENTITY_INSERT [dbo].[Ethnicity] OFF
/****** Object:  Table [dbo].[Disability]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Disability](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Disability] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Disability] ON
INSERT [dbo].[Disability] ([Id], [Name]) VALUES (2, N'Blind/partially sighted')
INSERT [dbo].[Disability] ([Id], [Name]) VALUES (3, N'Deaf/have a hearing impediment')
INSERT [dbo].[Disability] ([Id], [Name]) VALUES (4, N'Wheelchair user/have mobility difficulties')
SET IDENTITY_INSERT [dbo].[Disability] OFF
/****** Object:  Table [dbo].[Address]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstLine] [nvarchar](200) NULL,
	[City] [nvarchar](50) NULL,
	[Postcode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlacementType]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlacementType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_PlacementType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PlacementType] ON
INSERT [dbo].[PlacementType] ([Id], [Name]) VALUES (1, N'Placement 0')
INSERT [dbo].[PlacementType] ([Id], [Name]) VALUES (2, N'Placement 1')
INSERT [dbo].[PlacementType] ([Id], [Name]) VALUES (3, N'Placement 2')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[PlacementType] OFF
/****** Object:  Table [dbo].[PlacementLocation]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlacementLocation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_PlacementLocation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Unit] ON
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (1, N'1 - Introduction to Face Painting')
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (2, N'2 - Intermediate Face Painting')
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (3, N'3 - Design Development')
SET IDENTITY_INSERT [dbo].[Unit] OFF
/****** Object:  Table [dbo].[Session]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[UnitId] [int] NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Session] ON
INSERT [dbo].[Session] ([Id], [Name], [UnitId]) VALUES (1, N'Session 1', 1)
INSERT [dbo].[Session] ([Id], [Name], [UnitId]) VALUES (2, N'Session 2', 1)
INSERT [dbo].[Session] ([Id], [Name], [UnitId]) VALUES (3, N'Session 3', 1)
SET IDENTITY_INSERT [dbo].[Session] OFF
/****** Object:  Table [dbo].[Person]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[AddressId] [int] NULL,
	[Phone] [nvarchar](20) NULL,
	[Mobile] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[CriminalRecordsBureauReferenceNumber] [nchar](12) NULL,
	[Notes] [nvarchar](500) NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[EthnicityId] [int] NOT NULL,
	[GenderId] [int] NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UnitId] [int] NULL,
 CONSTRAINT [PK_Module] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Module] ON
INSERT [dbo].[Module] ([Id], [Name], [UnitId]) VALUES (1, N'Health & Safety', 1)
INSERT [dbo].[Module] ([Id], [Name], [UnitId]) VALUES (2, N'Communications', 1)
INSERT [dbo].[Module] ([Id], [Name], [UnitId]) VALUES (3, N'Design', 1)
SET IDENTITY_INSERT [dbo].[Module] OFF
/****** Object:  Table [dbo].[Centre]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Centre](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[AddressId] [int] NULL,
	[ContactId] [int] NULL,
 CONSTRAINT [PK_Centre] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonDisability]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonDisability](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[DisabilityId] [int] NOT NULL,
 CONSTRAINT [PK_PersonDisability] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Verifier]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Verifier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NULL,
 CONSTRAINT [PK_Verifier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutor]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NULL,
 CONSTRAINT [PK_Tutor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TasterSession]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TasterSession](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CentreId] [int] NULL,
	[TutorId] [int] NULL,
	[DateAndTime] [datetime] NULL,
 CONSTRAINT [PK_TasterSession] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Placement]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Placement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[Date] [datetime] NULL,
	[Hours] [decimal](18, 0) NULL,
	[PlacementLocationId] [int] NULL,
	[PlacementTypeid] [int] NULL,
 CONSTRAINT [PK_Placement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[UnitId] [int] NULL,
	[CentreId] [int] NULL,
	[StartDate] [datetime] NULL,
	[TutorId] [int] NULL,
	[VerifierId] [int] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseSession]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseSession](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_CourseSession] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseModule]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseModule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[ModuleId] [int] NOT NULL,
 CONSTRAINT [PK_CourseModule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentTasterSession]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTasterSession](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[TasterSessionId] [int] NULL,
 CONSTRAINT [PK_StudentTasterSession] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentCourseSession]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentCourseSession](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseSessionId] [int] NOT NULL,
	[Complete] [bit] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_StudentCourseSession] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentCourseModule]    Script Date: 02/27/2010 09:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentCourseModule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseModuleId] [int] NOT NULL,
	[Complete] [bit] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_StudentCourseModule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_StudentCourseModule_Complete]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[StudentCourseModule] ADD  CONSTRAINT [DF_StudentCourseModule_Complete]  DEFAULT ((0)) FOR [Complete]
GO
/****** Object:  Default [DF_StudentCourseSession_Complete]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[StudentCourseSession] ADD  CONSTRAINT [DF_StudentCourseSession_Complete]  DEFAULT ((0)) FOR [Complete]
GO
/****** Object:  ForeignKey [FK_Centre_Address]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Centre]  WITH CHECK ADD  CONSTRAINT [FK_Centre_Address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[Centre] CHECK CONSTRAINT [FK_Centre_Address]
GO
/****** Object:  ForeignKey [FK_Centre_Person]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Centre]  WITH CHECK ADD  CONSTRAINT [FK_Centre_Person] FOREIGN KEY([ContactId])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Centre] CHECK CONSTRAINT [FK_Centre_Person]
GO
/****** Object:  ForeignKey [FK_Course_Centre]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Centre] FOREIGN KEY([CentreId])
REFERENCES [dbo].[Centre] ([Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Centre]
GO
/****** Object:  ForeignKey [FK_Course_Tutor]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Tutor] FOREIGN KEY([TutorId])
REFERENCES [dbo].[Tutor] ([Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Tutor]
GO
/****** Object:  ForeignKey [FK_Course_Unit]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Unit]
GO
/****** Object:  ForeignKey [FK_Course_Verifier]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Verifier] FOREIGN KEY([VerifierId])
REFERENCES [dbo].[Verifier] ([Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Verifier]
GO
/****** Object:  ForeignKey [FK_CourseModule_Course]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[CourseModule]  WITH CHECK ADD  CONSTRAINT [FK_CourseModule_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[CourseModule] CHECK CONSTRAINT [FK_CourseModule_Course]
GO
/****** Object:  ForeignKey [FK_CourseModule_Module]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[CourseModule]  WITH CHECK ADD  CONSTRAINT [FK_CourseModule_Module] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([Id])
GO
ALTER TABLE [dbo].[CourseModule] CHECK CONSTRAINT [FK_CourseModule_Module]
GO
/****** Object:  ForeignKey [FK_CourseSession_Course]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[CourseSession]  WITH CHECK ADD  CONSTRAINT [FK_CourseSession_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[CourseSession] CHECK CONSTRAINT [FK_CourseSession_Course]
GO
/****** Object:  ForeignKey [FK_CourseSession_Session]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[CourseSession]  WITH CHECK ADD  CONSTRAINT [FK_CourseSession_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([Id])
GO
ALTER TABLE [dbo].[CourseSession] CHECK CONSTRAINT [FK_CourseSession_Session]
GO
/****** Object:  ForeignKey [FK_Module_Unit]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Module]  WITH CHECK ADD  CONSTRAINT [FK_Module_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Module] CHECK CONSTRAINT [FK_Module_Unit]
GO
/****** Object:  ForeignKey [FK_Person_Address]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Address]
GO
/****** Object:  ForeignKey [FK_Person_Ethnicity]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Ethnicity] FOREIGN KEY([EthnicityId])
REFERENCES [dbo].[Ethnicity] ([Id])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Ethnicity]
GO
/****** Object:  ForeignKey [FK_PersonDisability_Disability]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[PersonDisability]  WITH CHECK ADD  CONSTRAINT [FK_PersonDisability_Disability] FOREIGN KEY([DisabilityId])
REFERENCES [dbo].[Disability] ([Id])
GO
ALTER TABLE [dbo].[PersonDisability] CHECK CONSTRAINT [FK_PersonDisability_Disability]
GO
/****** Object:  ForeignKey [FK_PersonDisability_Person]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[PersonDisability]  WITH CHECK ADD  CONSTRAINT [FK_PersonDisability_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[PersonDisability] CHECK CONSTRAINT [FK_PersonDisability_Person]
GO
/****** Object:  ForeignKey [FK_Placement_PlacementLocation]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Placement]  WITH CHECK ADD  CONSTRAINT [FK_Placement_PlacementLocation] FOREIGN KEY([PlacementLocationId])
REFERENCES [dbo].[PlacementLocation] ([Id])
GO
ALTER TABLE [dbo].[Placement] CHECK CONSTRAINT [FK_Placement_PlacementLocation]
GO
/****** Object:  ForeignKey [FK_Placement_PlacementType]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Placement]  WITH CHECK ADD  CONSTRAINT [FK_Placement_PlacementType] FOREIGN KEY([PlacementTypeid])
REFERENCES [dbo].[PlacementType] ([Id])
GO
ALTER TABLE [dbo].[Placement] CHECK CONSTRAINT [FK_Placement_PlacementType]
GO
/****** Object:  ForeignKey [FK_Placement_Student]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Placement]  WITH CHECK ADD  CONSTRAINT [FK_Placement_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[Placement] CHECK CONSTRAINT [FK_Placement_Student]
GO
/****** Object:  ForeignKey [FK_Session_Unit]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Unit]
GO
/****** Object:  ForeignKey [FK_Student_Person]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Person]
GO
/****** Object:  ForeignKey [FK_StudentCourseModule_Course]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[StudentCourseModule]  WITH CHECK ADD  CONSTRAINT [FK_StudentCourseModule_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[StudentCourseModule] CHECK CONSTRAINT [FK_StudentCourseModule_Course]
GO
/****** Object:  ForeignKey [FK_StudentCourseModule_CourseModule]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[StudentCourseModule]  WITH CHECK ADD  CONSTRAINT [FK_StudentCourseModule_CourseModule] FOREIGN KEY([CourseModuleId])
REFERENCES [dbo].[CourseModule] ([Id])
GO
ALTER TABLE [dbo].[StudentCourseModule] CHECK CONSTRAINT [FK_StudentCourseModule_CourseModule]
GO
/****** Object:  ForeignKey [FK_StudentCourseModule_Student]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[StudentCourseModule]  WITH CHECK ADD  CONSTRAINT [FK_StudentCourseModule_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[StudentCourseModule] CHECK CONSTRAINT [FK_StudentCourseModule_Student]
GO
/****** Object:  ForeignKey [FK_StudentCourseSession_Course]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[StudentCourseSession]  WITH CHECK ADD  CONSTRAINT [FK_StudentCourseSession_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[StudentCourseSession] CHECK CONSTRAINT [FK_StudentCourseSession_Course]
GO
/****** Object:  ForeignKey [FK_StudentCourseSession_CourseSession]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[StudentCourseSession]  WITH CHECK ADD  CONSTRAINT [FK_StudentCourseSession_CourseSession] FOREIGN KEY([CourseSessionId])
REFERENCES [dbo].[CourseSession] ([Id])
GO
ALTER TABLE [dbo].[StudentCourseSession] CHECK CONSTRAINT [FK_StudentCourseSession_CourseSession]
GO
/****** Object:  ForeignKey [FK_StudentCourseSession_Student]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[StudentCourseSession]  WITH CHECK ADD  CONSTRAINT [FK_StudentCourseSession_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[StudentCourseSession] CHECK CONSTRAINT [FK_StudentCourseSession_Student]
GO
/****** Object:  ForeignKey [FK_StudentTasterSession_Student]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[StudentTasterSession]  WITH CHECK ADD  CONSTRAINT [FK_StudentTasterSession_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[StudentTasterSession] CHECK CONSTRAINT [FK_StudentTasterSession_Student]
GO
/****** Object:  ForeignKey [FK_StudentTasterSession_TasterSession]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[StudentTasterSession]  WITH CHECK ADD  CONSTRAINT [FK_StudentTasterSession_TasterSession] FOREIGN KEY([TasterSessionId])
REFERENCES [dbo].[TasterSession] ([Id])
GO
ALTER TABLE [dbo].[StudentTasterSession] CHECK CONSTRAINT [FK_StudentTasterSession_TasterSession]
GO
/****** Object:  ForeignKey [FK_TasterSession_Centre]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[TasterSession]  WITH CHECK ADD  CONSTRAINT [FK_TasterSession_Centre] FOREIGN KEY([CentreId])
REFERENCES [dbo].[Centre] ([Id])
GO
ALTER TABLE [dbo].[TasterSession] CHECK CONSTRAINT [FK_TasterSession_Centre]
GO
/****** Object:  ForeignKey [FK_TasterSession_Tutor]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[TasterSession]  WITH CHECK ADD  CONSTRAINT [FK_TasterSession_Tutor] FOREIGN KEY([TutorId])
REFERENCES [dbo].[Tutor] ([Id])
GO
ALTER TABLE [dbo].[TasterSession] CHECK CONSTRAINT [FK_TasterSession_Tutor]
GO
/****** Object:  ForeignKey [FK_Tutor_Person]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Tutor]  WITH CHECK ADD  CONSTRAINT [FK_Tutor_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Tutor] CHECK CONSTRAINT [FK_Tutor_Person]
GO
/****** Object:  ForeignKey [FK_Verifier_Person]    Script Date: 02/27/2010 09:09:54 ******/
ALTER TABLE [dbo].[Verifier]  WITH CHECK ADD  CONSTRAINT [FK_Verifier_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Verifier] CHECK CONSTRAINT [FK_Verifier_Person]
GO
