/*
   08 May 201014:14:04
   User: 
   Server: IMAC-WINDOWS7
   Database: StudentTracking
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Course
	DROP CONSTRAINT FK_Course_Tutor
GO
ALTER TABLE dbo.Tutor SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Tutor', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Tutor', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Tutor', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.Course
	DROP CONSTRAINT FK_Course_Centre
GO
ALTER TABLE dbo.Centre SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Centre', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Centre', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Centre', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.Course
	DROP CONSTRAINT FK_Course_Verifier
GO
ALTER TABLE dbo.Verifier SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Verifier', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Verifier', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Verifier', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.Course
	DROP CONSTRAINT FK_Course_Unit
GO
ALTER TABLE dbo.Unit SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Unit', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Unit', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Unit', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_Course
	(
	Id int NOT NULL IDENTITY (1, 1),
	Name nvarchar(50) NULL,
	UnitId int NULL,
	CentreId int NULL,
	EndDate datetime NULL,
	StartDate datetime NULL,
	TutorId int NULL,
	VerifierId int NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_Course SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_Course ON
GO
IF EXISTS(SELECT * FROM dbo.Course)
	 EXEC('INSERT INTO dbo.Tmp_Course (Id, Name, UnitId, CentreId, StartDate, TutorId, VerifierId)
		SELECT Id, Name, UnitId, CentreId, StartDate, TutorId, VerifierId FROM dbo.Course WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_Course OFF
GO
ALTER TABLE dbo.StudentCourseModule
	DROP CONSTRAINT FK_StudentCourseModule_Course
GO
ALTER TABLE dbo.StudentCourseSession
	DROP CONSTRAINT FK_StudentCourseSession_Course
GO
ALTER TABLE dbo.CourseSession
	DROP CONSTRAINT FK_CourseSession_Course
GO
ALTER TABLE dbo.CourseModule
	DROP CONSTRAINT FK_CourseModule_Course
GO
DROP TABLE dbo.Course
GO
EXECUTE sp_rename N'dbo.Tmp_Course', N'Course', 'OBJECT' 
GO
ALTER TABLE dbo.Course ADD CONSTRAINT
	PK_Course PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Course ADD CONSTRAINT
	FK_Course_Unit FOREIGN KEY
	(
	UnitId
	) REFERENCES dbo.Unit
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Course ADD CONSTRAINT
	FK_Course_Verifier FOREIGN KEY
	(
	VerifierId
	) REFERENCES dbo.Verifier
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Course ADD CONSTRAINT
	FK_Course_Centre FOREIGN KEY
	(
	CentreId
	) REFERENCES dbo.Centre
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Course ADD CONSTRAINT
	FK_Course_Tutor FOREIGN KEY
	(
	TutorId
	) REFERENCES dbo.Tutor
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Course', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Course', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Course', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CourseModule ADD CONSTRAINT
	FK_CourseModule_Course FOREIGN KEY
	(
	CourseId
	) REFERENCES dbo.Course
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CourseModule SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CourseModule', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CourseModule', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CourseModule', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CourseSession ADD CONSTRAINT
	FK_CourseSession_Course FOREIGN KEY
	(
	CourseId
	) REFERENCES dbo.Course
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CourseSession SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CourseSession', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CourseSession', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CourseSession', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.StudentCourseSession ADD CONSTRAINT
	FK_StudentCourseSession_Course FOREIGN KEY
	(
	CourseId
	) REFERENCES dbo.Course
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.StudentCourseSession SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.StudentCourseSession', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.StudentCourseSession', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.StudentCourseSession', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.StudentCourseModule ADD CONSTRAINT
	FK_StudentCourseModule_Course FOREIGN KEY
	(
	CourseId
	) REFERENCES dbo.Course
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.StudentCourseModule SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.StudentCourseModule', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.StudentCourseModule', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.StudentCourseModule', 'Object', 'CONTROL') as Contr_Per 